<%= render "home/header" %>
<div class="content">
    <div class="container">
        <div class="box-cachorro checkout">
            <span class="col-md-4"><%= image_tag(@dogs.image_file_name, alt: @dogs.breed)%></span>
            <span class="col-md-4 titulo-cachorro">
                <ul class="dog-info">
                    <li>Raça: <%= @dogs.breed %></li>
                    <li>Pelagem: <%= @dogs.coat %></li>
                    <li>Idade: <%= @dogs.age %> anos </li>
                    <li>Sexo: <%= @dogs.sex %></li>
                    <li>Nome: <%= @dogs.name %></li>
                    <li>Preço: <%= @dogs.price %></li>
                </ul>
            </span>
        </div>
        <article>
          <%= form_for :client do |f| %>
            <%= label(:name, "Nome:") %>
            <%= f.text_field :name %><br/>
            <%= label(:cpf, "CPF:") %>
            <%= f.text_field :cpf %><br/>
            <%= label(:mail, "E-mail:") %>
            <%= f.email_field("mail") %><br/>
            <%= label(:phone, "Telefone:") %>
            <%= f.text_field :phone %><br/>
            <span class="btn btn-success btn-lg">
                Enviar
                <!-- <%= f.submit "Enviar" %> -->
            </span>
          <% end %>
        </article>
    </div>
</div>
<%= render "home/footer" %>
