<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul class="list-group lista-links">
                    <li class="list-group-item">
                        <a href="#" title="mini">mini</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="pequeno porte">pequeno porte</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="médio porte">médio porte</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="grande porte">grande porte</a>
                    </li>
                </ul>   
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul class="list-group lista-links">
                    <li class="list-group-item">
                        <a href="#" title="até R$100">até R$100</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="de R$100 a R$300">de R$100 a R$300</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="de R$300 a R$500">de R$300 a R$500</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" title="acima de R$500">acima d  500</a>
                    </li>
                </ul>   
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <%= image_tag("logo-rodape.png", alt: "TheDogss") %>
                <br>
                <p class="telefone">11 0000.0000<br>
                    <a href="mailto:#" title="Entre em contato!">contato@charlieedog.com.br             
                </p>
            </div>
        </div>
    </div>
</div>
