<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="/" title="TheDogss"><%= image_tag("logo.svg", alt: "TheDogss") %></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">           
                <div class="input-group buscar">
                <%= form_tag home_search_path, :method => :get, :remote => true do %>
                <%= text_field_tag :search, params[:search], class: "form-control input-lg" %>
                <!--<%= submit_tag "Search" %>-->
                <span class="input-group-btn">
                        <button class="btn btn-default input-lg" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
