<body>
    <%= render "home/header" %>
    <div class="content">
        <div class="container">
           <!--  <div id="search_results">
              <% if @dogs.any? %>
                <p> ok </p>
              <% else %>
                <p>
                  Oh dear. Your search matched nothing in the database, or there there is simply
                  nothing in the database.
                </p>
              <% end %>
            </div> -->
            <div class="row">
            <% @dogs.each do |dog| %>
                <a class="fancybox" href="#">
                    <div class="col-md-4">
                        <div class="box-cachorro">
                            <%= image_tag(dog.image_file_name, alt: dog.breed)%>
                            <div class="btn-foto"><%= link_to "Detalhes", {:action => 'show', :id => dog.id} %></div>
                            <div>
                                <span class="titulo-cachorro"><%= dog.breed %> <%= dog.coat %></span>
                                <span class="detalhes-cachorro"><strong><%= dog.price %></strong><br><%= dog.age %> anos</span>
                            </div>
                        </div>
                    </div>
                </a>
            <% end %>
            </div>
        </div>
    </div>
    <%= render "home/footer" %>
</body>
