<% if @dogs.any? %>
$("#search_results").html("<%= escape_javascript(render @dogs) %>");
<% else %>
$("#search_results").html("<p>Oh dear. Your search matched nothing in the database</p>");
<% end %>
