<%= render "home/header" %>
<div class="content">
    <div class="container">
        <div class="box-cachorro detalhe">
            <span class="col-md-8"><%= image_tag(@dogs.image_file_name, alt: @dogs.breed)%></span>
            <span class="col-md-4 titulo-cachorro">
                <ul class="dog-info">
                    <li>Raça: <%= @dogs.breed %></li>
                    <li>Pelagem: <%= @dogs.coat %></li>
                    <li>Idade: <%= @dogs.age %> anos </li>
                    <li>Sexo: <%= @dogs.sex %></li>
                    <li>Nome: <%= @dogs.name %></li>
                    <li>Preço: <%= @dogs.price %></li>
                    <li>
                      <span class="btn btn-success btn-lg">
                        <%= link_to "checkout", {:controller => "checkout", :action => "form", :id => @dogs.id} %>
                      </span>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>
<%= render "home/footer" %>
