// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


article form label {
  margin-bottom: 20px;
}

article form input {
  float: right;
}
