<!DOCTYPE html>
<html>
<head>
  <title>TheDogs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "//code.jquery.com/jquery-2.1.3.js" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag("//fonts.googleapis.com/css?family=Amatic+SC:400,700") %>

</head>
<body>

<%= yield %>

</body>
</html>
